<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prisley Henrique</title>
  <link rel="icon" type="image/png" href="static/imagens/Icons/dog.gif">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/estilos.css">
  <link rel="stylesheet" href="static/css/rolagem.css">
  <link rel="stylesheet" href="static/css/lightbox.css">
  </head>
  <body>
  <main class="cartao">
  <div class="minhas-informacoes">
  <img src="static/imagens/Perfil/foto-perfil.jpg" alt="foto de perfil" />
  <h1 class="nome">Prisley Henrique</h1>
  <h2 class="cargo">Desenvolvedor Frontend Júnior</h2>
      </div>
      <div class="conteudo">
        <ul class="abas">
          <li class="aba selecionado" id="sobre-mim">
            <img src="static/imagens/Icons/sobre.gif" alt="ícone de sobre mim" />
          </li>
          <li class="aba" id="minhas-redes">
            <img src="static/imagens/Icons/coracao.gif" alt="ícone de redes sociais" />
          </li>
          <li class="aba" id="minhas-conquistas">
            <img src="static/imagens/Icons/starc.gif" alt="icone das Conquistas" />
          </li>
          <li class="aba" id="About">
            <img src="static/imagens/Icons/about.gif" alt="icone about" />
          </li>
        </ul>
        <div class="informacoes-abas">
          <div class="informacao selecionado" id="informacao-sobre-mim">
            <h3 class="sub-titulo">Sobre</h3>
            <div class="descricao">
              <p>
                E aí, pessoal! 🤘 Tudo certo? Eu sou o Prisley Henrique e sou um apaixonado por tecnologia e programação! 💻🚀
                Sou um verdadeiro viciado em videogames 🎮🕹️ e séries 📺🍿, mas minha paixão mesmo é desenvolver projetos em tecnologia da informação! Eu sou daqueles que fica acordado até tarde pesquisando novas linguagens de programação e criando soluções incríveis. 🔍💡🤯
                Já trabalhei em diversas áreas, desde vendas até empreendedorismo, mas descobri que liderar equipes e motivar pessoas é o que me move. Afinal, nada melhor do que ver um projeto sair do papel e se tornar realidade, não é mesmo? 👨‍💼💪💥
                Agora, estou focado em me tornar um programador top 🔝 e aplicar minhas habilidades anteriores em novos projetos incríveis de tecnologia da informação. Eu estou sempre em busca de novos desafios e aprendizados, e quero muito compartilhar essa jornada com vocês! 😎👊🤜🤛
                Então, se você também é um apaixonado por tecnologia e está disposto a encarar desafios, vem comigo que juntos vamos longe! 🚀🌟👨‍💻
              </p>
            </div>
          </div>
          <div class="informacao" id="informacao-minhas-redes">
            <h3 class="sub-titulo">Minhas redes</h3>
            <ul class="redes-sociais">
                <li>
                    <a href="https://drive.google.com/file/d/1ulA-gcr40H8gxTrWJayUu_2z1cDGFsS1/view?usp=share_link" target="_blank" class="curriculo">Currículo</a>
                    <a href="static/pdf/Prisley.pdf" class="curriculo" download="Prisley.pdf">Baixar PDF⬇️</a>

                </li>
                <li>
                    <a href="https://www.linkedin.com/in/prisley-henrique-silva-0076b3107/" target="_blank" class="linkedin">LinkedIn🧑🏻‍💼</a>
                </li>
                <li>
                    <a href="/noticias" target="_blank" class="github">GitHub🦑</a>
                </li>
                <li>
                    <a href="https://wa.me//5531973426802?text=Olá! Vi seu portfólio!" target="_blank" class="WhatsApp">WhatsApp💬</a>
                </li>
            </ul>
              </div>
              <div class="informacao" id="informacao-minhas-conquistas">
                <h3 class="sub-titulo">Minhas Conquistas</h3>
                <div class="galeria">
                  <a href="static/imagens/Certificados/Microsoft Azure Fundamentals Describe cloud concepts.png" data-lightbox="galeria">
                    <img src="static/imagens/Certificados/Miniatura/Microsoft Azure Fundamentals Describe cloud concepts.jpg" alt="Certificado 1" />
                  </a>
                  <a href="static/imagens/Certificados/Escreva seus primeiros programas em Python.png" data-lightbox="galeria">
                    <img src="static/imagens/Certificados/Miniatura/Escreva seus primeiros programas em Python.jpg" alt="Certificado 2" />
                  </a>
                  <a href="static/imagens/Certificados/Configurar seu ambiente de desenvolvimento.png" data-lightbox="galeria">
                    <img src="static/imagens/Certificados/Miniatura/Configurar seu ambiente de desenvolvimento.jpg" alt="Certificado 3" />
                  </a>
                  <a href="static/imagens/Certificados/Introdução aos notebooks Jupyter para Python.png" data-lightbox="galeria">
                    <img src="static/imagens/Certificados//Miniatura/Introdução aos notebooks Jupyter para Python.jpg" alt="Certificado 4" />
                  </a>
                  <a href="static/imagens/Certificados/Gerenciar projetos Python.png" data-lightbox="galeria">
                    <img src="static/imagens/Certificados/Miniatura/Gerenciar projetos Python.jpg" alt="Certificado 5" />
                  </a>
                  <a href="static/imagens/Certificados/Ensino medio.png" data-lightbox="galeria">
                    <img src="static/imagens/Certificados/Miniatura/Ensino medio.jpg" alt="Certificado 6" />
                  </a>
                  <a href="static/imagens/Certificados/Cruz vermelha .png" data-lightbox="galeria">
                    <img src="static/imagens/Certificados/Miniatura/Cruz vermelha .jpg" alt="Certificado 7" />
                  </a>
                  <a href="static/imagens/Certificados/Farmacia .png" data-lightbox="galeria">
                    <img src="static/imagens/Certificados/Miniatura/Farmacia .jpg" alt="Certificado 8" />
                  </a>
                  <a href="static/imagens/Certificados/Natura.png" data-lightbox="galeria">
                    <img src="static/imagens/Certificados/Miniatura/Natura.jpg" alt="Certificado 9" />
                  </a>
                </div>
              </div>
              <div class="informacao" id="informacao-About">
                <h3 class="sub-titulo">Sobre a página</h3>
                <div class="descricao">
                  <p>A página que você está visitando foi criada por mim, Prisley Henrique Magalhães Silva 🤓, utilizando algumas das linguagens mais populares e poderosas do mundo do desenvolvimento web: HTML, CSS e JavaScript 🌟. Combinando essas ferramentas, fui capaz de criar uma experiência interativa e envolvente para os usuários 🎨🚀.
                    Para melhorar ainda mais a experiência do usuário, adicionei algumas bibliotecas super legais como Lightbox e jQuery 🤩. A biblioteca Lightbox permite que os usuários visualizem imagens em tela cheia com um simples clique, enquanto o jQuery simplifica a navegação do usuário e torna a interação com a página muito mais suave e intuitiva 🔍👨‍💻.
                    Para que você possa desfrutar de uma experiência de alta qualidade, a página foi projetada para ser responsiva e compatível com dispositivos móveis 📱. Isso significa que você pode navegar pela página em qualquer dispositivo, desde um desktop até um smartphone 🌞.
                    Ao desenvolver esta página, levei em consideração as melhores práticas de design e usabilidade, a fim de garantir que os usuários possam navegar pela página facilmente e encontrar o que estão procurando de maneira rápida e eficiente 👍🏼. Além disso, estou sempre aberto a feedbacks e sugestões para melhorar ainda mais a página 🤝💬.
                    Espero que você esteja gostando da experiência até agora e, se tiver alguma dúvida ou comentário, sinta-se à vontade para entrar em contato comigo <a href="mailto:prisleywork@gmail.com">📩</a>(Clique No e-mail). Obrigado por visitar minha página! 🎉🎊🙌🏼👋🏼</p>
              </div>
    </main>
    <script type="text/javascript" src="static/js/index.js"></script>
    <script type="text/javascript" src="static/js/jQuery.js"></script>
    <script type="text/javascript" src="static/js/lightbox.js"></script>
<link rel="stylesheet" href="static/css/lightbox.css">
<script>
  lightbox.option({
    'resizeDuration': 200,
    'wrapAround': true
  })
</script>
  </body>
</html>